extends layout 

block content
    form(action="", method="POST") 
        label(for="category_name") Category name:
        input#category_name(type="text", name="category_name" placeholder="e.g. Cars" value=(category === undefined ? "" : category.name ))
        label(for="category_description") Description: 
        input#category_description(type="text", name="category_description" placeholder="Type description" value=(category===undefined?"" : category.description))
        label(for="password") Password:
        input#password(type="password", name="password") 

        input(type="submit", value="Submit")
    
    if errors 
        ul
            each error in errors
                li #{error.msg}
