extends layout

block content 
    h2 Are you sure you want to delete category "#{category.name}"?

    form(action="", method="post") 
        label(for="password") Enter Password:
        input#password(type="password", name="password")
        input(type="submit", value="Submit")

    if error 
        ul  
            li #{error}